<h1>Employees</h1>

<table border="2">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Role</th>
    <th>Email</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Contact</th>
    <th>Address</th>
    <th>Designation</th>
  </tr>
 
  <% users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.role %></td>
      <td><%= user.email %></td>
      <td><%= user.date_of_birth %></td>
      <td><%= user.gender %></td>
      <td><%= user.contact_number %></td>
      <td><%= user.address %></td>
      <td><%= user.designation %></td>
    </tr>
  <% end %>
</table>
