<h1>Employee's Attendance</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>DOB</th>
      <th>Gender</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Designation</th>
      <th>Attendance</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.role == "employee" %>
        <tr>
          <td><%= link_to user.first_name, user_path(user) %></td>
          <td><%= user.last_name %></td>
          <td><%= user.role %></td>
          <td><%= user.email %></td>
          <td><%= user.date_of_birth %></td>
          <td><%= user.gender %></td>
          <td><%= user.contact_number %></td>
          <td><%= user.address %></td>
          <td><%= user.designation %></td>
          <% if user.current_workday %>
            <% if user.current_workday.attendance == true %>
              <td class="text-success"><%= user.current_workday.attendance = "Present" %></td>
            <% else %>
              <td class="text-danger"><%= user.current_workday.attendance = "Absent" %></td>
            <% end %>
              <td><%= user.current_workday.status %></td>
              <td><%= user.current_workday.date %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="row text-center">
  <div class="col-md-6 mt-2">
    <div class="card">
      <div class="card-body">
        <a href="#" class="btn btn-primary">Total Employees</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a href="#" class="btn btn-primary">Check Attendance</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-2">
    <div class="card">
      <div class="card-body">
        <a href="#" class="btn btn-primary">Leaves</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a href="#" class="btn btn-primary">Employees Select</a>
      </div>
    </div>
  </div>
</div>