<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <h1><%= link_to 'Attendance Project', root_path, class:"navbar-brand font-weight-bold mb-2" %></h1>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="mt-2 mr-3">
              <span class="text-white">logged in as : <b><%= current_user.email%></b></span>
            </li>
            <li>
              <%= link_to "Edit Profile", edit_user_registration_path, class:"navbar-item btn btn-success mt-1" %>
            </li>
        </ul>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item btn btn-outline-warning" %>
          <% else %>
            <li>
              <%= link_to "Sign Up", new_user_registration_path, class:"navbar-item btn btn-info mr-3" %>
            </li>
            <li>
              <%= link_to "Sign In", new_user_session_path, class:"navbar-item btn btn-info" %>
            </li>
          <% end %>
      </div>
</nav>
<div class="container mt-5">
	<%= link_to "Attendance Report", class:"btn btn-secondary" %>
</div>