<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
      <%= link_to 'Attendance Project', root_path, class:"navbar-brand font-weight-bold mb-2 mt-2" %>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <% if user_signed_in? %>
        <% if current_user.role == 'employee' %>
        <% end %>
          <%= render 'layouts/top_menu' %> 
        <% else %>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class:"navbar-item btn btn-outline-info mr-3" %>
          </li>

          <li>
            <%= link_to "Sign In", new_user_session_path, class:"navbar-item btn btn-outline-info" %>
          </li>
        <% end %>
      </div>
    </nav>
    <%= yield %><br>    
      <p class="notice text-center text-danger"><%= notice %></p>
      <p class="alert text-center text-danger"><%= alert %></p>
  </body>
</html>
